{% extends 'main.html' %}

<!-- Zusätzliche CSS Dateien für diese Seite -->
{% block head_additional_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/DataTables/datatables.css') }}">
{% endblock %}

<!-- Inhalte der Seite -->
{% block body_content %}
    <!-- Titel der Seite -->
    <div class="px-4 py-4 text-center">
        <h1 class="fw-bold">Auswertung: Werknutzungen</h1>
    </div>

    <!-- Diagramm: Werknutzungen pro Jahr -->
    <div class="card">
        <div class="card-header p-3">
            <h4 class="card-titel text-center fw-semibold m-0">Werk-Nutzungen von {{ daten_nutzung_auswertung | min }} bis {{ daten_nutzung_auswertung | max }}</h4>
            <p class="card-titel text-center text-secondary m-0">Nutzungsarten außerhalb von "Aufführung", "Erstaufführung" und "Uraufführung" sind nicht berücksichtigt</p>
        </div>
        <div class="card-body">
            <canvas id="diagramm_nutzungen" class="w-100">
                <p>Leider kann das angefragte Diagramm aufgrund eines Fehlers nicht angezeigt werden.</p>
            </canvas>
            <p class="my-2">* Im oben dargestellten Diagramm konnten <span>{{ statistik.anzahl_werke_ohne_jahr_entstehung_ende }}</span> Nutzungen aufgrund des fehlenden Nutzungsjahres nicht angezeigt werden.</p>
            <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#daten_diagramm_nutzungen">Alle Nutzungsdaten anzeigen/ausblenden</button>

            <!-- Ausgeblendete Daten zum Diagramm -->
            <div class="table-responsive collapse m-2" id="daten_diagramm_nutzungen">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Aufführungsjahr</th>
                        <th scope="col">Werktitel</th>
                        <th scope="col">Kontext</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for jahr, daten in daten_nutzung_auswertung.items() %}
                        {% for nutzung in daten.nutzungen %}
                            <tr onclick="location.href='{{ url_for('nutzung.nutzung', nutzung_id=nutzung.nutzung_id) }}'">
                                <td>{{ nutzung.nutzung_id }}</td>
                                <td>{{ nutzung.nutzung_datum_jahr }}</td>
                                <td>{{ nutzung.werk_titel }}</td>
                                <td>{{ nutzung.nutzung_kontext }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Zusätzliche JavaScript Dateien sowie individuelle Funktionen der Seite -->
{% block body_custom_js %}
    <!-- Einbinden der zusätzlichen JavaScript-Dateien des Plugins ChartJS zum Anzeigen der Diagramme -->
    <script src="{{ url_for('static', filename='plugins/Chartjs/dist/chart.umd.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='plugins/Chartjs/plugins/chartjs-plugin-datalabels.js') }}"></script>
    <script>
        // Ändern der Standardwerte, damit die Punkte besser angeklickt werden können
        Chart.defaults.elements.point.hitRadius = 10;
        Chart.defaults.elements.point.hoverRadius = 10;
    </script>
    <script>
        // Konstante mit den Daten aus der Datenbank
        const daten_nutzung_auswertung = {{ daten_nutzung_auswertung | tojson }};

        // Initiieren der späteren verwendeten Dictionaries
        anzahl_nutzungen_nach_jahr = {}

        // Umwandlung des bisherigen Dictionaries, sodass das Dictionary nun { 'Jahr': 'Anzahl' } entspricht
        Object.entries(daten_nutzung_auswertung).forEach(([jahr, info_dict]) => {
            anzahl_nutzungen_nach_jahr[jahr] = info_dict.nutzungen.length;
        });

        // Aktivieren des Beschriftungs-Plugins von ChartJS
        Chart.register(ChartDataLabels);

        // Initiieren eines neuen Diagramms
        const chart_werke_entstehung_ende = new Chart(
            document.querySelector('#diagramm_nutzungen'),
            {
                type: 'line', // Liniendiagramm
                data: {
                    labels: Object.keys(anzahl_nutzungen_nach_jahr), // Beschriftung x-Achse
                    datasets: [
                        {
                            label: 'Werk-Nutzungen pro Jahr',
                            data: Object.values(anzahl_nutzungen_nach_jahr),
                            datalabels: {
                                align: 'end',
                                anchor: 'center'
                            }
                        }

                    ]
                },
                options: {
                    plugins: {
                        datalabels: {
                            borderRadius: 4,
                            font: {
                                weight: 'bold'
                            },
                            formatter: Math.round,
                            padding: 6
                        }
                    }
                }
            }
        );
    </script>
{% endblock %}